.HOME:hover {
  color: #99d98c;
  background: #99d98c;
box-shadow: 0 0 10px #99d98c, 0 0 40px #99d98c, 0 0 80px #99d98c ;
  letter-spacing: 0.25em;
  margin-top: -5px;}

.Dev-HOME {
  margin-top: 8%;
}

.HOME{
  transition: all 0.2s ease;
}


.PRODUCT:hover {
  color: #76c893;
  background: #76c893;
  box-shadow: 0 0 10px #76c893, 0 0 40px #76c893, 0 0 80px #76c893 ;
  letter-spacing: 0.25em;
  margin-top: -5px;}

.Dev-PRODUCT {
  margin-top: 8%;
}

.PRODUCT {
transition: all 0.2s ease;
}

.CONTACT:hover {
  color: #52b69a;
  background: #52b69a;
  box-shadow: 0 0 10px #52b69a, 0 0 40px #52b69a, 0 0 80px #52b69a;
  letter-spacing: 0.25em;
  margin-top: -5px;}

.Dev-CONTACT {
  margin-top: 8%;
}

.CONTACT {
transition: all 0.2s ease;
}

.TEAM:hover {
  color: #34a0a4;
  background: #34a0a4;
  box-shadow: 0 0 10px #34a0a4, 0 0 40px #34a0a4, 0 0 80px #34a0a4;
  letter-spacing: 0.25em;
  margin-top: -5px;}

.Dev-TEAM {
  margin-top: 8%;
}

.TEAM {
transition: all 0.2s ease;
}


html, body {
  height: 100%;
  width: 100%;
}

.LOGO
{ display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.Navigation_1{
   margin: auto;
  border: 2px solid darkslategray;
  background-color: darkslategray;
  height: 110%;
width: 100%;
  background: darkslategray;
  box-shadow: 0 0 10px darkslategray, 0 0 40px darkslategray, 0 0 80px darkslategray ;
  letter-spacing: 0.25em;
  margin-top: -5px;
}

.Navigation_2{
   margin: auto;
  border: 2px solid #281F7E;
  background-color: #281F7E;
  height: 110%;
width: 100%;
    background: #281F7E;
  box-shadow: 0 0 10px #281F7E, 0 0 40px #281F7E, 0 0 80px #281F7E ;
  letter-spacing: 0.25em;
  margin-top: -5px;
  
}

.Navigation_3{
   margin: auto;
  border: 2px solid #e9c46a;
  background-color: #e9c46a;
  height: 110%;
width: 100%;
    background: #e9c46a;
  box-shadow: 0 0 10px #e9c46a, 0 0 40px #e9c46a, 0 0 80px #e9c46a ;
  letter-spacing: 0.25em;
  margin-top: -5px;
  
}

.Navigation_4{
   margin: auto;
  border: 2px solid #03071e;
  background-color: #03071e;
  height: 110%;
width: 100%;
  background: #03071e;
  box-shadow: 0 0 10px #03071e, 0 0 40px #03071e, 0 0 80px #03071e;
  letter-spacing: 0.25em;
  margin-top: -5px;
}

.Feet{
  font-size: 12px;
  
}

.Title{
  position: reltive;
  font-size: 40px;
  text-align: center;
  letter-spacing: 15px;
  color: #0e3742;
-webkit-box-reflect: below 3px linear-gradient(transparent,#0004);
line-height: 0.70em;
}

.title_2{
  text-align: center;
   margin: auto;
  border: 2px solid darkslategray;
  background-color: darkslategray;
  height: 100%;
width: 100%;
  background: darkslategray;
  box-shadow: 0 0 10px darkslategray, 0 0 40px darkslategray, 0 0 80px darkslategray ;
  letter-spacing: 0.25em;
  margin-top: 5px;
  font-size: 20px;
}

.Image_1 {
    border: 4px solid darkslategray;
  margin: auto;
  background-color: darkslategray;
  height: 110%;
width: 100%;
  background: darkslategray;

  }

.Image_2 {
    border: 4px solid darkslategray;
  margin: auto;
  background-color: darkslategray;
  height: 110%;
width: 100%;
  background: darkslategray;
 
  }

.Image_3 {
    border: 4px solid darkslategray;
  margin: auto;
  background-color: darkslategray;
  height: 110%;
width: 100%;
  background: darkslategray;

  }

.Image_4 {
    border: 4px solid darkslategray;
  margin: auto;
  background-color: darkslategray;
  height: 110%;
width: 100%;
  background: darkslategray ;
  
  }

.PRODUCTS{
  position: reltive;
  font-size: 20px;
  text-align: center;
  letter-spacing: 15px;
  color: darkslategray;
-webkit-box-reflect: below 1px linear-gradient(transparent, darkslategray);
line-height: 0.70em;
}

.Column{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.Row{
  align-items: center;
  content: "";
  display: table;
  clear: both;
  width: 80%;
}

.Column2{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.Row2{
  align-items: center;
  content: "";
  display: table;
  clear: both;
  width: 80%;
}

  .Column {align-items: center;}